In [83]:
import os
from supabase import create_client, Client
from dotenv import load_dotenv
import requests
import pandas as pd 
import numpy as np

In [84]:
load_dotenv()

True

In [85]:
url: str = os.environ.get("SUPABASE_URL")
key: str = os.environ.get("SUPABASE_SECRET_KEY")
supabase: Client = create_client(url, key)

In [86]:
response = supabase.table("dataUser").select("*").execute()
print(response.data)
df = pd.DataFrame(response.data)
df

2023-08-07 00:38:36,067:INFO - HTTP Request: GET https://dxjpurlfogzpgpopaajq.supabase.co/rest/v1/dataUser?select=%2A "HTTP/1.1 200 OK"

[{'id': 1, 'Q1': 1, 'Q2': 2, 'Q3': 3, 'Q4': 4}, {'id': 2, 'Q1': 3, 'Q2': 3, 'Q3': 4, 'Q4': 4}, {'id': 4, 'Q1': 8, 'Q2': 7, 'Q3': 8, 'Q4': 8}, {'id': 5, 'Q1': 5, 'Q2': 4, 'Q3': 4, 'Q4': 5}, {'id': 6, 'Q1': 3, 'Q2': 3, 'Q3': 5, 'Q4': 1}]

   id  Q1  Q2  Q3  Q4
0   1   1   2   3   4
1   2   3   3   4   4
2   4   8   7   8   8
3   5   5   4   4   5
4   6   3   3   5   1

In [89]:
df = df.drop(['id'],axis=1)

In [91]:
from sklearn.neighbors import NearestNeighbors

In [94]:
unit= pd.read_csv('dataset_unit.csv')
feature_cols = unit.drop(['Nama Unit'], axis=1)
X = feature_cols
neigh = NearestNeighbors(n_neighbors=2, algorithm='brute')
neigh.fit(X)
data_dummy = df.iloc[len(df)-1].values.reshape(1,-1)
distances, indices = neigh.kneighbors(data_dummy)
print('Recommendations for "The Post":\n')
for i in range(len(distances.flatten())):
  print('{0}: {1}, with a distance of {2}.'.format(i+1, unit['Nama Unit'].iloc[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for "The Post":

1: B, with a distance of 0.0.
2: E, with a distance of 2.23606797749979.

c:\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(